<a href="https://colab.research.google.com/github/25040145/Programacion_OO/blob/main/Unidad1/programa1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
variable = input("Escribir tu nombre: ")
print("Tu nombre es: ", variable)

Escribir tu nombre: andree
Tu nombre es:  andree

In [3]:
nom = input("¿Me puedes dar tu nombre por favor?")
ape = input("¿Me puedes dar tu apellido por favor?")
print("Gracias")
print("/nTu nombre es:" + nom + ape + ".")

¿Me puedes dar tu nombre por favor?andree
¿Me puedes dar tu apellido por favor?moreno
Gracias
/nTu nombre es:andreemoreno.

In [4]:
# Marcar error porque se debe convertir el tipo de dato
x = int(input("Dame un numero para multiplicar:"))
z = x * 5
print(z)

Dame un numero para multiplicar:8
40

In [5]:
cateto_a = float(input("inserte la longitud del primer cateto:"))
cateto_b = float(input("inserte la longitud del segundo cateto:"))
hipo = (cateto_a**2 + cateto_b**2) ** .5
print("La longitud de la hipotenusa es:", hipo)

inserte la longitud del primer cateto:10
inserte la longitud del segundo cateto:5
La longitud de la hipotenusa es: 11.180339887498949

In [6]:
# Mas de una lnea en un bloque de codigo
a = 3000
b = 12500
if b > a:
    print("b es mayor que a:")
    print(b, "es mayor que", a)
else:
    print("a es mayor que b")
    print(a, "es mayor que", b)
print("Fin del if")

b es mayor que a:
12500 es mayor que 3000
Fin del if

In [9]:
# Mas de una lnea en un bloque de codigo
a = 3000
b = 3000
if b > a:
    print("b es mayor que a:")
    print("b vale =>", b)
elif a==b:
    print("a es igual que b")
    print("a y b valen =>", a)
else:
    print("a es mayor que b")
    print("a vale =>", a)
print("Fin del if")

a es igual que b
a y b valen => 3000
Fin del if

In [10]:
# if y if.. else en version corta  o simplificada
# del lado izquierdo es cuando es verdadera la condicion
x = 50
y = 60

print("x es mayor que y") if (x > y) else print("y es mayor que x")

y es mayor que x

In [13]:
i = 1
while i <= 10:
     print(i)
     i +=1
print("fuera del while")

1
2
3
4
5
6
7
8
9
10
fuera del while

In [12]:
# copiamos el ejemplo anterior para poner contexto BREAK
# Agregamos una condicion para que se saga del ciclo cuando cumpla un criterio
i = 1
while i <=1000:
     print(i)
     if i == 10:
         print("Entro al if")
         break
     i += 1
print("Fuera del while")

1
2
3
4
5
6
7
8
9
10
Entro al if
Fuera del while

In [11]:
while(True):
     print("""selecciona una opcion
     1) opcion 1
     2) opcion 2
     3) Salir""")
     opcion = input("¿Cual es la opcion que deseas?")
     if opcion == "1":
         print("Seleccionaste la opcion 1 \n")
     elif opcion == "2":
         print("Seleccionaste la opcion salir")

     elif opcion == "3":
         break
     else:
         print("opcion desconocida, vuelve a intentarlo")
print("Fuera del ciclo")

selecciona una opcion
     1) opcion 1
     2) opcion 2
     3) Salir
¿Cual es la opcion que deseas?1
Seleccionaste la opcion 1

selecciona una opcion
     1) opcion 1
     2) opcion 2
     3) Salir
¿Cual es la opcion que deseas?3
Fuera del ciclo

In [14]:
# Si no se especifica un rango inicial or default empieza en cero
# cuando se establece el limite o rango final siempre sera valor menos 1
for x in range(5):
    print(x)

0
1
2
3
4

In [15]:
for z in range(2, 5):
  print(z)

2
3
4

In [16]:
# Tercer parametro para el incremento
for z in range(1, 25, 2):
    print(z)

1
3
5
7
9
11
13
15
17
19
21
23

In [17]:
print("La instruccion break")
variablez = True # variable de tipo Booleana
for i in range(1, 6):
    print("Esto es un print dentro del for")
    if variablez:
       print("Entro al if")
       break
print("Fuera del for")

La instruccion break
Esto es un print dentro del for
Entro al if
Fuera del for

In [18]:
#Continue - ejemplo
print("\n La instruccion continue:")
for i in range(1, 6):
    if i == 3:
       continue
    print("Dentro del bucle.", i)
print("Fuera del bucle.")

 La instruccion continue:
Dentro del bucle. 1
Dentro del bucle. 2
Dentro del bucle. 4
Dentro del bucle. 5
Fuera del bucle.

In [19]:
frutas = ["platano", "naranja", "manzana"]
for x in frutas:
    print(x)
    if x == "naranja":
       break

platano
naranja

In [20]:
n = 0
while n != 3:
   print(n)
   n += 1
else:
   print(n, "else")
print() # Para generar una linea en blanco
for i in range(0, 3):
    print(i)
else:
    print(i, "else")

0
1
2
3 else

0
1
2
2 else

In [21]:
def funcion_saludar():
    print("Hola mundo, desde mi funcion")

In [22]:
funcion_saludar()

Hola mundo, desde mi funcion

In [23]:
# Parametros en funciones
def tablas_multiplicar(x):
    for z in range (1, 11):
        print(x, "por", z, "=", x * z)
    print("\n fin de la funcion")

In [ ]:
tablas_multiplicar(5)

5 por 1 = 5
5 por 2 = 10
5 por 3 = 15
5 por 4 = 20
5 por 5 = 25
5 por 6 = 30
5 por 7 = 35
5 por 8 = 40
5 por 9 = 45
5 por 10 = 50

 fin de la funcion

In [28]:
def presentar(nombre, apellido, edad):
    print("Hola, mi nombre es", nombre, apellido, "y mi edad es", edad)

presentar("Luke", "skywalker", 40)
presentar("Clark", "kent", 19)
presentar("andree", "moreno", "19")

Hola, mi nombre es Luke skywalker y mi edad es 40
Hola, mi nombre es Clark kent y mi edad es 19
Hola, mi nombre es andree moreno y mi edad es 19

In [30]:
def presentar(nombre, apellido = "moreno"):
    print("Hola, mi nombre es", nombre, apellido)

presentar("andree", "serna")
presentar("andree")

Hola, mi nombre es andree serna
Hola, mi nombre es andree moreno

In [36]:
def presentar(nombre, apellido):
    print("Hola mi nombre es", nombre, apellido)

presentar(nombre = "andree", apellido = "serna")
presentar(apellido = "serna", nombre = "andree")

Hola mi nombre es andree serna
Hola mi nombre es andree serna

In [34]:
def calcularDoble(qaz):
    qaz = qaz * 2
    return qaz

In [37]:
#Asignar el resultado de la division a una variable
Valor_al_doble = calcularDoble(5)
print(Valor_al_doble)

10

In [ ]:
# La variable variableX no existe, solo existe dentro de la funcion

def miFuncion():
    variableX = 123

miFuncion()
print(variableX)

In [40]:
def  miFuncion():
    variable = 2
    print("¿Valor de la variable?", variable)

variable = 1
print("Valor de la variable", variable)
miFuncion()
print("Valor de la variable", variable)

Valor de la variable 1
¿Valor de la variable? 2
Valor de la variable 1

In [42]:
#se empleara la que se puede
def  miFuncion():
    global variable
    variable = 2
    print("¿Valor de la variable?", variable)

variable = 1
print("Valor de la variable", variable)
miFuncion()
print("Valor de la variable", variable)

Valor de la variable 1
¿Valor de la variable? 2
Valor de la variable 2